<form action="/user/signup" method="post">
    <div class="container">
      <label><b>Nombre</b></label>
      <input type="text" placeholder="Nombre" name="name" required>

      <label><b>Email</b></label>
      <input type="text" placeholder="mi@email.com" name="email" required>

      <label><b>Contraseña</b></label>
      <input type="password" placeholder="password" name="password" required>
  
      <label><b>Repetir contraseña</b></label>
      <input type="password" placeholder="Enter Password" name="confirm_password" required>

      <button type="submit">Enviar</button>
    </div>
  </form> 