<form action="/user/login" method="post">
    <div class="container">
      <label><b>Email</b></label>
      <input type="text" placeholder="mi@email.com" name="email" required>

      <label><b>Contraseña</b></label>
      <input type="password" placeholder="Contraseña" name="password" required>
      <button type="submit">Acceder</button>
    </div>
</form>
<p><a href="/user/lostpassword">Olvidé mi contraseña</a></p>

<%- include('../partials/messages') %>