<form action="/user/login" method="post">
  <div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="my@email.com" name="email" required />

    <label><b>Password</b></label>
    <input type="password" placeholder="Password" name="password" required />
    <button type="submit">Login</button>
  </div>
</form>
<p><a href="/user/lostpassword">I lost my password</a></p>

<%- include('../partials/messages') %>
