<form action="/user/lostpassword" method="post">
  <div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="my@email.com" name="email" required />
    <button type="submit">Retrieve password</button>
  </div>
</form>

<%- include('../partials/messages') %>
