<form action="/user/signup" method="post">
  <div class="container">
    <label><b>Name</b></label>
    <input type="text" placeholder="Name" value="<%= locals.name ? locals.name : '' %>" name="name" required />

    <label><b>Email</b></label>
    <input
      type="text"
      placeholder="my@email.com"
      value="<%= locals.email ? locals.email : '' %>"
      name="email"
      required
    />

    <label><b>Password</b></label>
    <input type="password" placeholder="Password" name="password" required />

    <label><b>Repeat password</b></label>
    <input type="password" placeholder="Password" name="confirm_password" required />

    <button type="submit">Register</button>
  </div>
</form>

<%- include('../partials/messages') %>
